# First data cleaner

* Latin characters

In [4]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999


import time
import unicodedata
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, WebDriverException

import datetime
from datetime import timedelta, datetime

import csv
import os

import sys
sys.path.append('./lib/')
from functions import *
from tqdm import tnrange, tqdm_notebook
from unidecode import unidecode

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import lxml.html
import lxml

import glob

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
sns.set_style("darkgrid")

# Import data

In [2]:
col_names = ['entity', 'department', 'contract', 'year', 'month', 'group', 'lastn', 'lastn2', 'givenn', 'degree', 
             'qualif', 'position', 'region', 'specials', 'currency', 'salary', 'overt', 'start_date', 'end_date', 'obs', 'url', 'other']
len(col_names)

22

In [3]:
period = '20180210-3'

In [9]:
file = '../data/output/scraped_data_{}.csv'.format(period)
dfscraped = pd.read_csv(file, low_memory=False, delimiter='|', quoting=csv.QUOTE_ALL, names=col_names)

In [10]:
dfscraped['filename'] = file

In [11]:
dfscraped.filename.value_counts()

../data/output/scraped_data_20180210-3.csv    2366454
Name: filename, dtype: int64

In [12]:
dfscraped.columns

Index(['entity', 'department', 'contract', 'year', 'month', 'group', 'lastn',
       'lastn2', 'givenn', 'degree', 'qualif', 'position', 'region',
       'specials', 'currency', 'salary', 'overt', 'start_date', 'end_date',
       'obs', 'url', 'other', 'filename'],
      dtype='object')

In [14]:
dfscraped.head(2)

,entity,department,contract,year,month,group,lastn,lastn2,givenn,degree,qualif,position,region,specials,currency,salary,overt,start_date,end_date,obs,url,other,filename
0,Presidencia de la República,Presidencia de la República,Dotación de planta,Año 2017,allyear,AUTORIDAD DE GOBIERNO,BACHELET,JERIA,VERONICA MICHELLE,NaN,MÉDICO,PRESIDENTA DE LA REPÚBLICA,RM,"2, 4, 8, 9",PESOS,10.168.106,No,11/03/2014,30/11/-1,NaN,http://www.gobiernotransparentechile.cl/direct...,NaN,../data/output/scraped_data_20180210-3.csv
1,Presidencia de la República,Presidencia de la República,Dotación de planta,Año 2017,allyear,DIRECTIVO,SANDOVAL,NAVARRETE,OSCAR OMAR,NaN,ABOGADO,"DIRECTOR ADMINISTRATIVO, DIRECCIÓN ADMINISTRATIVA",RM,"5, 7, 8, 9",PESOS,7.959.883,No,01/04/2014,30/11/-1,FUNCIÓN CRÍTICA = 100%,http://www.gobiernotransparentechile.cl/direct...,NaN,../data/output/scraped_data_20180210-3.csv

In [25]:
pd.notnull(dfscraped['other']).value_counts()

False    2308040
True       58414
Name: other, dtype: int64

In [16]:
dfscraped.entity.value_counts()

Ministerio del Interior y Seguridad Pública        682791
Ministerio de Obras Públicas                       298220
Ministerio de Hacienda                             194651
Ministerio de Justicia y Derechos Humanos          181450
Ministerio de Educación                            180334
Ministerio de Vivienda y Urbanismo                 171786
Ministerio de Economía, Fomento y Turismo          132745
Ministerio del Trabajo y Previsión Social          129472
Ministerio de Desarrollo Social                    106972
Consejo de Defensa del Estado                       59255
Ministerio de Defensa Nacional                      47427
Ministerio de Minería                               45374
Ministerio de Agricultura                           44597
Ministerio de Relaciones Exteriores                 25493
Ministerio Secretaría General de la Presidencia     14657
Presidencia de la República                         13062
Ministerio del Medio Ambiente                        7227
Ministerio del Deporte                               6236
Ministerio de Energía                                6222
Ministerio Secretaría General de Gobierno            5159
Consejo Nacional de la Cultura y las Artes           3932
Ministerio de Transporte y Telecomunicaciones        3630
Ministerio de Salud                                  3592
Consejo Nacional de Televisión                       2170
Name: entity, dtype: int64

In [17]:
dfscraped.url.nunique()

36466

# Data that was not captured with the right encoding, scrape again

In [20]:
retake_entity = list(dfscraped[dfscraped.entity.str.contains("b'", na=False)].entity.value_counts().index)
retake_entity = retake_entity + list(dfscraped[dfscraped.entity.str.contains("Ã", na=False)].entity.value_counts().index)
retake_entity = retake_entity + list(dfscraped[dfscraped.entity.str.contains("Ã­", na=False)].entity.value_counts().index)
retake_entity = retake_entity + ['Ministerio del Interior y Seguridad Pblica', 'Presidencia de la Repblica ']

In [21]:
print('Total Urls', dfscraped.url.nunique())
print('Urls to retake', dfscraped[dfscraped.entity.isin(retake_entity)].url.nunique())

Total Urls 36466
Urls to retake 0

In [22]:
retake_entity_urls = []
for u in list(set(dfscraped.loc[dfscraped.entity.isin(retake_entity), 'url'].unique())):
    if str(u) != 'nan':
        if "b'" in u:
            u = u[2:]
        if u[-1] == "'":
            u = u[:len(u)-1]
        retake_entity_urls.append(u)
len(retake_entity_urls)

0

In [23]:
retake_entity_urls

[]

### Open browser and re-scrape data

In [20]:
output_file = '..data/output/retake_entity_0.csv'

In [22]:
if not os.path.isfile(output_file):
    browser = webdriver.Chrome()
    for url in retake_entity_urls[0:5]:
        functions.getTableData2(output_file, url, browser)

In [26]:
try:
    retake_entity_df = pd.read_csv(output_file, encoding='latin1', names=col_names)
except:
    retake_entity_df = pd.DataFrame()

In [28]:
try:
    retake_entity_df.entity.value_counts()
except:
    pass

In [29]:
cleanLatin(retake_entity_df)

A Jupyter Widget

### Delete the corresponding rows and add the new ones

In [30]:
retake_entity_df['filename'] = output_file
print(retake_entity_df.shape)
print(dfscraped[dfscraped.entity.isin(retake_entity)].shape)
dfscraped = dfscraped[~dfscraped.entity.isin(retake_entity)]
dfscraped = pd.concat([dfscraped, retake_entity_df])
dfscraped.shape

(0, 1)
(0, 23)

(906540, 23)

# Transformations

## Write or Read clean file, wrong characters, duplicate rows

In [2]:
print('Before Processing:', dfscraped.shape)
columns_dupe = [col for col in dfscraped.columns if not 'filename' in col]
cleanLatin(dfscraped)

In [28]:
dfscraped1 = dfscraped
# Lower case values
dfscraped1.givenn = dfscraped1.givenn.str.lower()
dfscraped1.lastn = dfscraped1.lastn.str.lower()
dfscraped1.lastn2 = dfscraped1.lastn2.str.lower()

dfscraped1 = dfscraped.replace(np.nan, -1).drop_duplicates(columns_dupe) # Result used to be 1693274, with no replace()
print('After Processing:', dfscraped1.shape)


# Write file
dfscraped1.to_csv('../data/output/scraped_data_clean_first_{}.csv'.format(period), encoding='utf-8', index=False)

After Processing: (1954998, 23)